@{
    Layout = null;
}
<form method="post" action="/Student/Add">
    Name : <input type="text" name="Name" />
    Password :<input type="password" name="Password" />
    <input type="submit" value="ADD" />


</form>
